{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "import/parser": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "rules": {
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/jsx-sort-props": [
      1,
      {
        "shorthandLast": true,
        "reservedFirst": ["key"]
      }
    ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": ["**/*.test.tsx", "**/*.test.ts", "**/setupTests.ts", "**/*.stories.ts", "**/*.stories.tsx"]
      }
    ],
    "import/extensions": [
      2,
      "always",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "@typescript-eslint/indent": "off",
    "max-len": [
      2,
      {
        "code": 100
      }
    ],
    "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }],
  }
}
